*{
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {

    --lavender-theme-gradient: linear-gradient(45deg, #D586FF, #FCB2FF);
    --green-theme-gradient: linear-gradient(45deg, #A8FF78, #78FFD6);
    --yellowPink-theme-gradient: linear-gradient(45deg, #FFA9F9, #FFF7AD);
    --orange-theme-gradient: linear-gradient(45deg, #FFEA7E, #FFB194);
    --sky-theme-gradient: linear-gradient(45deg, #4F80FF, #cff4fd);
    --peach-theme-gradient: linear-gradient(45deg, #FF61D2, #FE9090);


    --background: linear-gradient(45deg, #FF512F, #DD2476);
    --buttons-text: #EA3559;
    --buttons-bg: #fff;
    --next-text: #fff;
    --next-bg: #94B9FF;
}

/* Tous les thèmes possibles */

.sky{
    --background: linear-gradient(45deg, #4F80FF, #cff4fd);
    --buttons-text: #94B9FF;
    --buttons-bg: #fff;
    --next-text: #FF8517;
    --next-bg: #fff;
}

.orange{
    --background: linear-gradient(45deg, #FFEA7E, #FFB194);
    --buttons-text: #fff;
    --buttons-bg: #FF9871;
    --next-text: #94B9FF ;
    --next-bg: #fff;
}

.peach{
    --background: linear-gradient(45deg, #FF61D2, #FE9090);
    --buttons-text: #EA3559;
    --buttons-bg: #fff;
    --next-text: #fff ;
    --next-bg: #94B9FF;
}

.green{
    --background: linear-gradient(45deg, #A8FF78, #78FFD6);
    --buttons-text: #fff;
    --buttons-bg: #FFA9F9;
    --next-text: #FFA9F9 ;
    --next-bg: #fff; 
}

.lavender{
    --background: linear-gradient(45deg, #D586FF, #FCB2FF);
    --buttons-text: #9500D8;
    --buttons-bg: #FFF7AD;
    --next-text: #FFF7AD ;
    --next-bg: #B81AFF;
}

.yellowPink{
    --background: linear-gradient(45deg, #FFA9F9, #FFF7AD);
    --buttons-text: #F100E1;
    --buttons-bg: #fff;
    --next-text: #FFF7AD ;
    --next-bg: #FFA9F9;
}

/* Gère FLEXBOX et la façon dont ça s'affiche */
.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Gère les border-radius */
input, .avatar-theme-options-container, #start-quiz-btn, #ok-btn, .answer-btn, #next-question-btn, #quiz-correction, #result{
    border-radius: 30px;
}

.profiles-chosen-avatar-container, .avatar-option, .theme-option, #current-player-avatar, #avatar-img-popup, .avatars-results-container{
    border-radius: 50%;
}

#quiz-results, #quiz, .container{
    border-radius: 50px;
}

/* Pas de bordure */
input, .avatar-, #start-quiz-btn, #ok-btn, .answer-btn {
    border: none;
}

/* Alignement des textes */
#logo, h2, input, #quiz-correction, .answer-btn, #question, .popup-text{
    text-align: center;
}

/* Curseur pointer */
.answer-btn, #next-question-btn, .avatar-option, .theme-option:hover, #start-quiz-btn:hover,  #ok-btn{
    cursor: pointer;
}


/* Versus au centre de la page */
.versus{
    font-size: 60px;
}



#edit-profiles{
    display: flex;
    z-index: 555;
}

#quiz-game{
    display: none;
}


#logo{
    font-size: 50px;
    margin-top: 0;
}

.agbalumo-regular {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
  }
 
h2{
    font-weight: normal;
    font-size: 23px;
}  

.bold{
font-weight: bold;
}

input{
    padding:3px 0;
}


.canva{
    width: 85%;
}

/* TOUTE LA BOITE AVATAR ET THEME */
.container{
    width: 350px;
    height: 400px;
}

.p1-chosen-theme{
    background: var(--lavender-theme-gradient);
}

.p2-chosen-theme{
    background: var(--orange-theme-gradient);
}

.profiles-chosen-avatar-container{
    width: 140px;
    height: 140px;
}

.avatar-theme-options-container{
    width: 300px;
    height:150px;
    background-color: white;
}


/* CHOIX de L'AVATAR */
.avatar-options {
    width: 80%;
    height: 50%;
}

.avatar-option {
    width: 70px;
    height: 70px;
    background-size: 130%;
    background-position: center;
    display: flex;
    align-items: center;
}

.avatar-option:hover{
    border: 2px solid black;
}

.avatar-img {
    width: 100%;
    height: 100%;    
}


/* CHOIX DU THEME */
.theme-options {
    width: 70%;
    height: 40%;
}

.theme-option {
    width: 50px;
    height: 50px;
}

.theme-option:hover{
    width: 55px;
    height: 55px;
}

.T1{
    background: var(--lavender-theme-gradient);
}

.T2 {
    background: var(--green-theme-gradient);
}
.T3 {
    background: var(--yellowPink-theme-gradient);
}

.T4 {
    background: var(--orange-theme-gradient);
}

.T5{
    background: var(--sky-theme-gradient);
}

.T6{
    background: var(--peach-theme-gradient);
}

/* button valider */
#start-quiz-btn, #ok-btn{
    margin-top: 20px;
    background-color: #ffea7e;
    padding: 10px 30px;
}

#start-quiz-btn:hover{
    font-weight: bold;
}

/* Specific au popup */


#popup-info{
    width: 60%;
    height: 70%;
    border-radius: 65px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -45%);
    background: white;
    z-index: 999;
    display: none;
}

.player1 {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.popup-text{
    font-size: 1.2rem;
    width: 70%;
}



/*  !!!!! Gère le quiz !!!!! */

#quiz{
    width: 75% !important;
    height: 75vh;
    background: var(--background);
    padding: 0;
}

#question {
    color: white;
    font-size: 40px;
    width:100%
}

#quiz-wrapper{
    width: 80%;
    margin-top: -10px;
}

.grid-row{
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: center;
}

#current-player-avatar, #avatar-img-popup{
    width: 170px;
    height: 170px;
}


/* Gère les bouttons de réponse */

.answer-btn {
    background: var(--buttons-bg) ;
    color:  var(--buttons-text);
    font-weight: 500;
    width: 40%;
    padding: 10px 20px;
    margin: 10px 0;
    transition: all 0.3s;
}

.answer-btn:hover, .selected {
    background: var(--buttons-text);
    color: var(--buttons-bg)
}

.selected {
    font-style: italic; 
}



#next-question-btn{
    background: var(--next-bg);
    color: var(--next-text);
    font-weight: 500;
    width: 300px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    display: box;
}

/* Résultats du quiz */
#result-container{
    width:60%;
    color: var(--buttons-bg);
}


#quiz-correction{
    min-width: 60%;
    max-width: 80%;
    padding: 15px 15px;
    background: white;
    color: black;
}


#quiz-results{
    width: 75% !important;
    height: 75vh;
    background: var(--background);
    display: none;
    padding: 20px 0;
}

#result{
    font-size: 40px;
    background: var(--buttons-bg);
    color: var(--buttons-text);
    padding: 5px;
}

#avatars-results{
    width: 50%;
    margin: -10px;
}

.avatars-results-container{
    width:90px;
    height: 90px;
    margin-bottom: 5px;
}
#still-friends-answer{
    margin-bottom: -20px;
    font-size: 30px;
}

#take-revenge-btn{
    display: none;
}

.wrapper {
    width: 70%;
    height: 55%;
    justify-content: start;
}

.p1-answer{
    color: #4FA800;
}

